@media screen and (max-width: 900px) {
    .navbar{
        flex-direction: column;
        height: 6em;
    }

    .left{
        width: 100%;
        height: 60%;
    }

    .left img{
        width: 10%;
        height: 60%;
    }
    .navlinks{
        width: 100%;
        height: 40%;
    }
}

@media screen and (max-width: 900px) {
    .links{
        flex-direction: column;
        height: 15em;
    }
    .col{
     width: 100%;
    }
    .col:hover{
        transform: scaleX(1.04);
    }
    .row{
        flex-direction: column;
    }
    .city{
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
.image{
    height: 7em;
width: 80%;
}

}